<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title></title>
<link rel="stylesheet" href="resources/css/common/bootstrap.min.css" />
<link rel="stylesheet" href="resources/css/common/nav.css" />
<link rel="stylesheet" href="resources/css/common/index.css" />
<!-- 删除图标 -->
<link href="/resources/icon/iconfont.css" rel="stylesheet"
	type="text/css" />
<!-- 引入自定义css文件 style.css -->
<link rel="stylesheet" href="/resources/css/style.css" type="text/css" />
<style>
body {
	margin-top: 20px;
	margin: 0 auto;
}

.carousel-inner .item img {
	width: 100%;
	height: 300px;
}

font {
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
	padding: 0 10px;
}

.number span {
	border: solid 1px #F4F4F4;
	background: #F4F4F4
}
</style>

</head>

<body style="background: #FEF7F5;">
	<!-- 头部 -->
	<div class="top">
				<ul>
				    <li><a name="nav2" target="_blank" href="/toLogout"
						class="nav"> 退出 </a></li>
					<td th:if="${session.user==null}">
						<li><a name="nav2" target="_blank" href="/toLogin"
							class="nav"> 登陆 </a></li>

					</td>
					<td th:unless="${session.user==null}">
						<li>欢迎：<span style="color: red;" th:inline="text">
								[[${session.user.name}]] </span>登录
					</li>
					</td>


					<li><a name="nav2" target="_blank" href="/toRegister"
						class="nav"> 注册 </a></li>
					<li><a name="nav2" target="_blank" href="/toCart" class="nav">
							我的购物车 </a></li>
					<li><a name="nav2" target="_blank" href="/toOrderList"
						class="nav"> 我的订单 </a></li>
				</ul>

			</div>
	<!--1 购物车项头顶设计-->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div style="padding-left: 90px;">

					<img src="/resources/img/cart/news.jpg" style="width: 950px;" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div style="margin-top: 10px; padding-left: 90px;">

					<!--<img class="pic_shop" src="img/cart/pic_myshopping.gif" />-->
					<img src="/resources/img/cart/dd_logo.jpg" /> <span
						style="margin-left: 50px;"> <img
						src="/resources/img/cart/item.png" style="width: 650px;" />
					</span>
				</div>
			</div>
		</div>
	</div>
	<!--边线-->
	<div style="border: solid 2px #FF2832; width: 100%; margin-top: 30px;"></div>



	<div class="container">

		<div class="row" style="margin-top: 50px; margin-left: 60px"
			th:if="${#lists.isEmpty(list)}">
			<tr align="center">
				<td><img src="/resources/img/cart/empty.png"
					style="padding-left: 20px" /></td>
				<td><font style="line-height: 180px">购物车空空，赶紧 <a
						href="/" style="color: red">去逛逛</a> 吧
				</font></td>

			</tr>
		</div>
		<!--2 购物项设计-->

		<div th:unless="${#lists.isEmpty(list)}">
			<div class="row" style="margin-top: 50px;">

				<div style="margin: 0 auto; margin-top: 10px; width: 950px;">
					<strong style="font-size: 16px; margin: 5px 0;">订单详情</strong>


					<table class="table table-bordered" id="checkBox">

						<tbody>
							<tr class="warning">
								<th></th>
								<th>图片</th>
								<th>商品</th>
								<th>价格</th>
								<th>数量</th>
								<th>小计</th>
								<th>操作</th>
							</tr>


							<tr class="active" th:each="cart :${list}">
								<td width="5%">
									<!-- 购物车的选择框 --> <input type="checkbox" th:value="${cart.id}"
									name="cartid" th:onclick="@{'getId('+${cart.id}+')'}" />
								</td>
								<td width="15%"><img
									th:src="@{'/resources/bookImage/'+${cart.book.photo}}"
									height="70px" width="80px" /></td>
								<td width="28%"><a target="_blank" th:inline="text">
										[[${cart.book.bookName}]]</a></td>
								<td width="14%" th:inline="text">￥[[${cart.price}]]</td>
								<!-- 对数量回填并操作加减 -->
								<td width="15%">
									<div class="add-plus-input"
										style="float: left; border: solid 1px #D9D9D9;">
										<a th:href="@{'/addCartNum?id='+${cart.id}}" class="add btn"
											style="border: none;">+</a>
										<!-- 用来获取number数据 -->
										<input type="text" class="num" name="number"
											th:value="${cart.orderNumn}"
											style="width: 40px; height: 20px; text-align: center; border: none; background-color: #FEFEFE;" />
										<a th:href="@{'/reduceCartNum?id='+${cart.id}}"
											class="plus btn" style="border: none;">-</a>

									</div>

								</td>
								<td width="13%"><span class="subtotal" th:inline="text">[[${cart.sumPrice}]]</span></td>
								<td width="10%"><a
									th:href="@{'/delBookFromCart?id='+${cart.id}}" title="删除"
									id="delete" data-toggle="modal" data-target="#exampleModal"
									onclick="delFunction(event);"> 删除 </a></td>
							</tr>


						</tbody>
					</table>
				</div>
			</div>


			<div style="margin-right: 130px;">
				<div style="text-align: right;">
					<em style="color: #ff6600;"> 登录后确认是否享有优惠&nbsp;&nbsp; </em> 赠送积分: <em
						style="color: #ff6600;" th:inline="text">[[${sumMoney}]]</em>&nbsp;
					商品金额: <strong style="color: #ff6600;" th:inline="text">￥[[${sumMoney}]]元</strong>
				</div>
				<div
					style="text-align: right; margin-top: 10px; margin-bottom: 10px;">

					<a href="/clearCart" id="clear" class="clear" data-toggle="modal"
						data-target="#exampleModal2" onclick="clearFunction(event);">清空购物车</a>

					<a href="/getOrderItem"> <input type="submit" width="100"
						value="结算" name="submit" border="0" id="submitCart"
						style="background: url('/resources/img/cart/register.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0); height: 35px; width: 100px; color: black;" />
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--下边线-->
	<div style="border: solid 1px #FF2832; width: 100%; margin-top: 30px;"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="text-align: center; line-height: none;">

				<div class="footer_copyright">
					<span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span> <a
						href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098"
						target="_blank" class="footer_img" rel="nofollow"></a><span><a
						href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span>出版物经营许可证&nbsp;新出发京批字第直0673号</span>
				</div>
			</div>
		</div>
	</div>

	<!-- 删除模态 对话框-->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">确定移除该商品吗？</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="sureDel">确定</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 清空购物车模态 对话框-->
	<!-- Modal -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">确定清空购物车吗？</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="sureClear">确定</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/resources/js/jquery-1.11.3.min.js">
		</script>
	<script type="text/javascript"
		src="/resources/js/common/bootstrap.min.js">
	</script>
	<script type="text/javascript" src="/resources/js/city.js"></script>
	<script type="text/javascript" src="/resources/js/vue/dist/vue.min.js">
	</script>
	<script type="text/javascript"
		src="/resources/js/axios/dist/axios.min.js">
	</script>

	<!--获取选择框的id值  -->
	<script type="text/javascript">
        var arr=[];
        var idArr=[];
       $("#submitCart").click(function(){
        $("input[name='cartid']:checked").each(function(){
            	arr.push($(this).attr('value'));

            });
         if(arr === undefined || arr.length == 0){
        	//取消超级链接的默认行为
       	   event.preventDefault();
             return ;
             } 
        $.ajax({
            type : "POST",
            url : "/toAddOrderItem",
            dataType : "json",
            traditional : true,
            data : {
                   arr: arr,
                   },
            
        });

        
       }); 
     
       function getId(id){
        // alert(id);
         idArr.push(id);
           if(idArr.length!=0)
               {
    	   $("#submitCart").css("background","url('/resources/img/cart/register.gif')");
    	        
               }
           
           console.log(idArr);

           
           }
    
     // 如果点击复选边框结算变样式，没有点不让提交
      /*  $("input[name='cartid']").click(function(){

    	   if($("input[name='cartid']:checked")){

    		$("#submitCart").css("background","url('/resources/img/cart/register.gif')");
              

          } 
           


          })  */
           
       //页面先加载这个     
       $(function(){

    	if(arr === undefined || arr.length == 0){
        	   $("#submitCart").css("background","none");
    	}

	   })



        
    	  
         
  

        
       

      


   </script>



	<!--删除操作 -->
	<script type="text/javascript">


	function delFunction(event){
		//取消超级链接的默认行为
 	   event.preventDefault();
 	   //获取地址
 	  var url=$(event.target).attr("href");
 	    //给确认框绑定一次性事件
	   $("#sureDel").one("click",function(){
	   window.location.href=url;
	   });



	}
	
   



	</script>
	<!--清空操作 -->
	<script type="text/javascript">


	function clearFunction(event){
		//取消超级链接的默认行为
 	   event.preventDefault();
 	   //获取地址
 	  var url=$(event.target).attr("href");
 	    //给确认框绑定一次性事件
	   $("#sureClear").one("click",function(){
	   window.location.href=url;
	   });



	}
	</script>
	<!--加减操作  -->
	<script type="text/javascript">
$(function() {
	$(".add-plus-input .add").click(function() {
var $num = $(this).next(".num");
var number = $num.attr("value");
$num.attr("value",parseInt(number) + 1);




});
$(".add-plus-input .plus").click(function(event) {
var $num = $(this).prev(".num");
var number = $num.attr("value");
if(number>1)
	{
$num.attr("value",parseInt(number) - 1);
  
	}else{
		//取消超级链接的默认行为
	 	 event.preventDefault();
  
}
	
});
})
</script>
</body>

</html>