<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/resources/css/bootstrap.css" type="text/css" />
		<script src="/resources/js/jquery-1.11.3.min.js" type="text/javascript"></script>
		<script src="/resources/js/bootstrap.min.js" type="text/javascript"></script>
		<!-- 引入自定义css文件 style.css -->
		<link rel="stylesheet" href="/resources/css/style.css" type="text/css" />
		<style>
			body {
				margin-top: 20px;
				margin: 0 auto;
			}
			
			.carousel-inner .item img {
				width: 100%;
				height: 300px;
			}
			
			font {
				color: #3164af;
				font-size: 18px;
				font-weight: normal;
				padding: 0 10px;
			}
		</style>

	</head>

	<body style="background: #FEF7F5;">
		<!--1 购物车项头顶设计-->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="padding-left:90px ;">

						<img src="/resources/img/cart/news.jpg" style="width: 950px;" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div style="margin-top: 10px;padding-left:90px ;">

						<!--<img class="pic_shop" src="img/cart/pic_myshopping.gif" />-->
						<img src="/resources/img/cart/dd_logo.jpg" />

						<span style="margin-left: 50px;">
							<img src="/resources/img/cart/item.png" style="width: 650px;"/>
							</span>
					</div>
				</div>
			</div>
		</div>
		<!--边线-->
		<div style="border: solid 2px  #FF2832;width: 100%; margin-top: 30px;"></div>

		<div class="container">
			

			<!--2 购物项设计-->

			<div class="row" style="margin-top: 50px;">

				<div style="margin:0 auto; margin-top:10px;width:950px;">
					<strong style="font-size:16px;margin:5px 0;">订单详情</strong>
					<table class="table table-bordered">
						<tbody>
							<tr class="warning">
								<th>图片</th>
								<th>商品</th>
								<th>价格</th>
								<th>数量</th>
								<th>小计</th>
								<th>操作</th>
							</tr>
							<tr class="active">
								<td  width="40%">
									<input type="hidden" name="id" value="22">
									<img src="/resources/img/cart/dadonggua.jpg" width="70" height="60">
								</td>
								<td width="30%">
									<a target="_blank"> 有机蔬菜 大冬瓜...</a>
								</td>
								<td width="20%">
									￥298.00
								</td>
								<td width="10%">
									<input type="text" name="quantity" value="1" maxlength="4" size="10">
								</td>
								<td width="15%">
									<span class="subtotal">￥596.00</span>
								</td>
								<td>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>
							<tr class="active">
								<td  width="40%">
									<input type="hidden" name="id" value="22">
									<img src="/resources/img/cart/dadonggua.jpg" width="70" height="60">
								</td>
								<td width="30%">
									<a target="_blank"> 有机蔬菜 大冬瓜...</a>
								</td>
								<td width="20%">
									￥298.00
								</td>
								<td width="10%">
									<input type="text" name="quantity" value="1" maxlength="4" size="10">
								</td>
								<td width="15%">
									<span class="subtotal">￥596.00</span>
								</td>
								<td>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>
							<tr class="active">
								<td  width="40%">
									<input type="hidden" name="id" value="22">
									<img src="/resources/img/cart/dadonggua.jpg" width="70" height="60">
								</td>
								<td width="30%">
									<a target="_blank"> 有机蔬菜 大冬瓜...</a>
								</td>
								<td width="20%">
									￥298.00
								</td>
								<td width="10%">
									<input type="text" name="quantity" value="1" maxlength="4" size="10">
								</td>
								<td width="15%">
									<span class="subtotal">￥596.00</span>
								</td>
								<td>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>

			<div style="margin-right:130px;">
				<div style="text-align:right;">
					<em style="color:#ff6600;">
				登录后确认是否享有优惠&nbsp;&nbsp;
			</em> 赠送积分: <em style="color:#ff6600;">596</em>&nbsp; 商品金额: <strong style="color:#ff6600;">￥596.00元</strong>
				</div>
				<div style="text-align:right;margin-top:10px;margin-bottom:10px;">
					<a href="order_info.htm" id="clear" class="clear">清空购物车</a>
					<a href="order_info.htm">
						<input type="submit" width="100" value="提交订单" name="submit" border="0" style="background: url('/resources/img/cart/register.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
						height:35px;width:100px;color:white;">
					</a>
				</div>
			</div>

		</div>
		<!--下边线-->
		<div style="border: solid 1px  #FF2832;width: 100%; margin-top: 30px;"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12" style="text-align: center;line-height: none;">

					<div class="footer_copyright"><span>Copyright (C) 当当网 2004-2014, All Rights Reserved</span>
						<a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001051000098" target="_blank" class="footer_img" rel="nofollow"><img src="//img60.ddimg.cn/upload_img/00459/index/validate.gif"></a><span><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">京ICP证041189号</a></span><span>出版物经营许可证&nbsp;新出发京批字第直0673号</span>
						</div>
				</div>
			</div>

	</body>

</html>